//! **************************************************************************
// Written by: Map P.20131013 on Sat Oct 24 22:32:28 2015
//! **************************************************************************

SCHEMATIC START;
COMP "clk" LOCATE = SITE "B8" LEVEL 1;
COMP "D" LOCATE = SITE "P11" LEVEL 1;
COMP "Q" LOCATE = SITE "M5" LEVEL 1;
NET "clk_BUFGP/IBUFG" BEL "clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

